<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now %>
<% end %>

<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quater">
      <div class="card">
        <header classs="card-header">
         <%= entry.meal_tyoe %>
        </header>
        <div class="card-content">
          <p><span class="has-text-weight-bold"> <%= entry.calories %></span> calories 
          <%= entry.calories %>
          <%= entry.proteins %>
          <%= entry.carbohydrates %>
          <%= entry.fats %>
          <div>
        </div>
      </div>
     <%= entry.meal_type %> 
     <%= entry.calories %> 
     <%= entry.protiens %> 
     <%= entry.carbohydrates %> 
     <%= entry.fats %> 
     <%= link_to 'Show', entry %> 
     <%= link_to 'Edit', edit_entry_path(entry) %> 
     <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <% end %>
</div>
